.wed_image_bck .wed_simple_block .text_block {
    width: 400px;
}
.wed_middle_titles h2 {
    font-family: "iCiel Bambola", Regular;
    font-size: 52px;
    font-weight: 900;
}
.wed_image_bck .wed_simple_block .text_block h4 {
    font-family: "iCiel Brush Up";
}
.wed_story_row .wed_story_txt p {
    font-family: "Script Regular";
    font-size: 20px;
}